.idea
.gradle
gradle/
build/
venv/
.pytest_cache/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
*.iml
*.log
java-example/gradlew
java-example/gradlew.bat
java-example/settings.gradle
java-example1/gradlew.bat
java-example1/gradlew
*.class
